@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">Descrição do projeto</h4>
</div>
<div class="mt-5">
    <p>Este projeto tem como objetivo apenas treinar conceitos básicos de desenvolvimento com ASP.NET Core</a>.</p>
    <p>O projeto utiliza razor pages, MySql server e entity framework. Para estilização foi utilizado bootstrap. </p>
</div>
